<html th:replace="~{base :: layout (~{:: main})}">

  <body>
    <main>
      <div class="container-fluid">
        <h1>Cadastro de Aluno - Passo 3 de 4</h1>
        <form action="" method="post">
          <h3>Dados de Saúde</h3>
          <div class="form-row">
            <div class="form-group">
              <label for="">Medicamentos e dosagem que a criança costuma tomar quando FEBRE e/ou DOR DE CABEÇA:</label>
              <input type="text" class="form-control" name="FebreDorDeCabeca" id="">
            </div>
          </div>
          <fieldset>
            <legend>Assinalar as doenças infantis que já teve:</legend>
            <div class="form-row">
              <div class="form-group col-md-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Sarampo
                  </label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Catapora
                  </label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Caxumba
                  </label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Bronquite
                  </label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Convulsão
                  </label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Rubéola
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
            <div class="form-row">
              <div class="form-group col">
                <label for="">Outras:</label>
                <input type="text" class="form-control" name="" id="">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="">Medicações que costuma tomar:</label>
                <input type="text" class="form-control" name="" id="">
              </div>
            </div>
            <fieldset>
              <div class="form-row">
                <div class="form-group col">
                  <label for="">Nome do contato de emergência:</label>
                  <select name="" class="form-control" id="">
                    <option value="">Selecione...</option>
                  </select>
                </div>
              </div>
            </fieldset>
          </div>
          <a href="/aluno/cadastro/step-4" class="btn btn-outline-success">Salvar e Próximo</a>
        </form>
      </div>
    </main>
  </body>

</html>