<html th:replace="~{base :: layout (~{:: main})}">

  <body>
    <main>
      <div class="container">
        <div class="row">
          <h1>Cadastro de Aluno(a) - Passo 3 de 4</h1>
        </div>
        <div class="row">
          <h3>Dados de Saúde</h3>
        </div>
      </div>
      <form action="" method="post">
          <div class="form-row">
            <div class="form-group col">
              <label class="lead" for="">Qual medicamento e dosagem costuma tomar quando FEBRE e/ou DOR DE CABEÇA?</label>
              <input class="form-control" type="text" name="" id="">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group lead col">
              Citar se alergia a
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-2">
              <label for="inputEstado">Penicilina</label>
            </div>
            <div class="form-group col">
              <select id="inputEstado" class="form-control">
                <option selected>Escolher...</option>
                <option>Não</option>
                <option>Sim</option>
                <option>Nunca Tomou</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-2">
              <label for="outrosRemedios">Outros medicamentos:</label>
            </div>
            <div class="form-group col">
              <textarea class="form-control" name="" id="outrosRemedios"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-2">
              <label for="">Alimentos:</label>
            </div>
            <div class="form-group col">
              <select class="form-control" name="" id="">
                <option value="" selected>Não</option>
                <option value="">Alergia</option>
                <option value="">Intolerância</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-2">
              <label for="">Quais:</label>
            </div>
            <div class="form-group col">
              <textarea class="form-control" name="" id="" ></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group lead">
              Citar se já teve as seguintes doenças infantis:
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <input class="form-check-input" type="checkbox" name="" id="">
              <label class="form-check-label" for="">Sarampo</label>
            </div>
            <div class="form-group col-md-2">
              <input class="form-check-input" type="checkbox" name="" id="">
              <label class="form-check-label" for="">Catapora</label>
            </div>
            <div class="form-group col-md-2">
              <input class="form-check-input" type="checkbox" name="" id="">
              <label class="form-check-label" for="">Bronquite</label>
            </div>
            <div class="form-group col-md-2">
              <input class="form-check-input" type="checkbox" name="" id="">
              <label class="form-check-label" for="">Caxumba</label>
            </div>
            <div class="form-group col-md-2">
              <input class="form-check-input" type="checkbox" name="" id="">
              <label class="form-check-label" for="">Convulsão</label>
            </div>
            <div class="form-group col-md-2">
              <input class="form-check-input" type="checkbox" name="" id="">
              <label class="form-check-label" for="">Rubéola</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-1">
              <label for="">Outras:</label>
            </div>
            <div class="form-group col">
              <textarea class="form-control" name="" id="" ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label for="">Medicamentos que costuma tomar:</label>
            </div>
            <div class="form-group col">
              <textarea class="form-control" name="" id="" ></textarea>
            </div>
          </div>
      </form>
      <div class="">
        <a href="/aluno/cadastro/step-4" class="btn btn-outline-success">Salvar e Próximo</a>
      </div>
    </main>
  </body>

</html>