<html th:replace="~{base :: layout (~{:: main})}">

  <body>
    <main>
      <div class="container-fluid">
        <h1>Cadastro de Aluno - Passo 3 de 4</h1>
        <form action="" method="post">
          <h3>Dados de Saúde</h3>
          <div class="form-row">
            <div class="form-group">
              <label for="">Medicamentos e dosagem que a criança costuma tomar quando FEBRE e/ou DOR DE CABEÇA:</label>
              <input type="text" class="form-control" name="FebreDorDeCabeca" id="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              
            </div>
          </div>
          <a href="/aluno/cadastro/step-4" class="btn btn-outline-success">Salvar e Próximo</a>
        </form>
      </div>
    </main>
  </body>

</html>