<html th:replace="~{base :: layout (~{:: main})}">

  <body>
    <main>
      <div class="container-fluid">
        <h1>Cadastro de Aluno - Passo 4 de 4</h1>
        <form action="" method="post">
          <h3>Dados do Responsável</h3>
          <div class="form-row">
            <div class="form-group col-md-1">
              <label for="">CEP:</label>
            </div>
            <div class="form-group col-md-3">
              <input type="text" class="form-control" name="" id="">
            </div>
            <div class="form-group col">
              <button href="" class="btn btn-outline-success">Buscar</button>
            </div>
          </div>
          <hr>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="">Logradouro:</label>
            </div>
            <div class="form-group col">
              <input class="form-control" type="text" name="" id="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-1">
              <label for="">Nº:</label>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="" id="">
            </div>
            <div class="form-group col-md-2">
              <label for="">Complemento:</label>
            </div>
            <div class="form-group col-md-3">
              <input class="form-control" type="text" name="" id="">
            </div>
            <div class="form-group col-md-1">
              <label for="">Bairro:</label>
            </div>
            <div class="form-group col-md-3">
              <input class="form-control" type="text" name="" id="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="">Ponto de referência:</label>
            </div>
            <div class="form-group col">
              <input class="form-control" type="text" name="" id="">
            </div>
          </div>
          <div class="form-row">  
            <div class="form-group col-md-3">
              <input class="btn btn-outline-success" type="submit" value="Adicionar">
            </div>
          </div>
        </form>
        <hr>
        <div>
          lista de responsaveis
        </div>
      </div>
    </main>
  </body>

</html>